<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BibleTaggingUtil.Properties.TranslationTags" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="BibleTaggingUtil.Properties.ReferenceBibles" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="BibleTaggingUtil.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="BibleTagging.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <BibleTaggingUtil.Properties.TranslationTags>
            <setting name="TranslationTagsFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="ForReviewFileName" serializeAs="String">
                <value />
            </setting>
            <setting name="MissingWordsFileName" serializeAs="String">
                <value />
            </setting>
            <setting name="ErrorsFileName" serializeAs="String">
                <value />
            </setting>
            <setting name="OutputFileName" serializeAs="String">
                <value />
            </setting>
            <setting name="FilesPerBook" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AppendTimestamp" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Version" serializeAs="String">
                <value />
            </setting>
            <setting name="RepeatedWordFileName" serializeAs="String">
                <value />
            </setting>
            <setting name="PublicDomain" serializeAs="String">
                <value>False</value>
            </setting>
        </BibleTaggingUtil.Properties.TranslationTags>
        <BibleTaggingUtil.Properties.ReferenceBibles>
            <setting name="TopReference" serializeAs="String">
                <value />
            </setting>
            <setting name="TANTReference" serializeAs="String">
                <value />
            </setting>
            <setting name="TAOTReference" serializeAs="String">
                <value />
            </setting>
            <setting name="Configured" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OtRefSkip" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NtRefSkip" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TopRefSkip" serializeAs="String">
                <value>False</value>
            </setting>
        </BibleTaggingUtil.Properties.ReferenceBibles>
        <BibleTaggingUtil.Properties.Settings>
            <setting name="ReferenceBibleFileName" serializeAs="String">
                <value />
            </setting>
            <setting name="referenceBibleFileFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="TargetBibleFileName" serializeAs="String">
                <value />
            </setting>
            <setting name="TargetBibleFileFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="LastBook" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LastChapter" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LastVerse" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BiblesFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="TargetTextDirection" serializeAs="String">
                <value>RTL</value>
            </setting>
            <setting name="PeriodicSaveTime" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Osis" serializeAs="String">
                <value>False</value>
            </setting>
        </BibleTaggingUtil.Properties.Settings>
        <BibleTagging.Properties.Settings>
            <setting name="ReferenceBibleFileName" serializeAs="String">
                <value />
            </setting>
            <setting name="referenceBibleFileFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="TargetBibleFileName" serializeAs="String">
                <value />
            </setting>
            <setting name="TargetBibleFileFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="LastBook" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LastChapter" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LastVerse" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BiblesFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="TargetTextDirection" serializeAs="String">
                <value>RTL</value>
            </setting>
        </BibleTagging.Properties.Settings>
    </userSettings>
</configuration>